# Node
node_modules/

# VitePress build output
.vitepress/dist/
**/.vitpress/chache/**

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# VS Code
.vscode/
