/* Obsidian dark background and vibrant blue headers */
:root {
  --vp-c-bg-2: #181a20; /* obsidian-like */
  --vp-c-bg: #0e0f13; /* Current Favorite */
  --vp-c-header-bg: #1e2a47; /* vibrant dark blue */
  --vp-c-header-text: #036be2; /* vibrant blue for text */
  --vp-c-brand: #338fff; /* dark blue for active link */
  --vp-c-brand-light: #60aaff;
  --vp-c-brand-dark: #1e2a47;
  --vp-github: #0d1117; /* GitHub dark mode color*/
  --vp-github-clone: #0a0c10; /* My Clone for github Dark (slightly darker) */
}

/* body {
  background: var(--vp-c-bg);
} */

/* body {
  background: var(--vp-github-clone);
} */

body { /* *Gradient from the upper left* */
  background: radial-gradient(circle at top left, #131b2c, #0a0c10, #050608);
  min-height: 100vh;
}

/* body { /* gradient in the middle
  background: radial-gradient(circle at center, #131b2c, #0a0c10, #050608);
  min-height: 100vh;
} */

header-anchor {
  color: var(--vp-c-header-text);
}

/* title {
  background: var(--vp-c-bg-2) !important;
} */

/* .VPSidebar {
  background: var(--vp-c-bg-2) !important;
} */

/* h1, h2, h3, h4, h5, h6 {
  color: var(--vp-c-header-text);
} */

/* NavBar link hover color */
a.VPLink.link.VPNavBarMenuLink:hover {
  color: var(--vp-c-header-text) !important;
}

/* NavBar active menu link color override */
a.VPLink.link.VPNavBarMenuLink.active {
  color: var(--vp-c-header-text) !important;
}
